<li id="accomplishment-<%= accomplishment.id %>">
  <span class="name"><%= accomplishment.name %></span>
	<span class="timeWorking"><%= accomplishment.timeWorking %> minutes </span>
	<span class="timeProductive"><%= ((accomplishment.timeProductive / accomplishment.timeWorking ) * 100).round(2)  %>% productive</span>
  <span class="timestamp">
    Accomplished <%= time_ago_in_words(accomplishment.date) %> ago.
		<% if current_user?(accomplishment.user) %>
			<%= link_to "delete", accomplishment, method: :delete,
																					 data: { confirm: "Are you sure?" } %>
		<% end %>
	</span>
</li>
