<p id="notice"><%= notice %></p>

<h1>Accomplishments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time working (in minutes)</th>
      <th>Time productive (in minutes)</th>
      <th>Date and Time of accomplishment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accomplishments.each do |accomplishment| %>
      <tr>
        <td><%= accomplishment.name %></td>
        <td><%= accomplishment.time_working %></td>
        <td><%= accomplishment.time_productive %></td>
        <td><%= accomplishment.date %></td>
        <td><%= link_to 'Show', accomplishment %></td>
        <td><%= link_to 'Edit', edit_accomplishment_path(accomplishment) %></td>
        <td><%= link_to 'Destroy', accomplishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accomplishment', new_accomplishment_path %>
