<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accomplishment.name %>
</p>

<p>
  <strong>Time working:</strong>
  <%= @accomplishment.timeWorking %>
</p>

<p>
  <strong>Time productive:</strong>
  <%= @accomplishment.timeProductive %>
</p>

<p>
  <strong>Date:</strong>
  <%= @accomplishment.date %>
</p>

<%= link_to 'Edit', edit_accomplishment_path(@accomplishment) %> |
<%= link_to 'Back', current_user %>
